flows3.json
[
    {
        "id": "df64358f81423729",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cb1768ff1825354",
        "type": "inject",
        "z": "df64358f81423729",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Fecha de prueba",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "cee5b417656daafe"
            ]
        ]
    },
    {
        "id": "11d2710aa57f68c0",
        "type": "inject",
        "z": "df64358f81423729",
        "name": "etiqueta 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "bb35746595207eaf",
                "6c30280f197924d1"
            ]
        ]
    },
    {
        "id": "8594d1aa85dc4e82",
        "type": "inject",
        "z": "df64358f81423729",
        "name": "etiqueta 2:",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "label",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "bb35746595207eaf",
                "6c30280f197924d1"
            ]
        ]
    },
    {
        "id": "2348d9894a58a8a4",
        "type": "inject",
        "z": "df64358f81423729",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "bb35746595207eaf",
                "6c30280f197924d1"
            ]
        ]
    },
    {
        "id": "cee5b417656daafe",
        "type": "ui_text",
        "z": "df64358f81423729",
        "group": "361488d13a4c96d1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "bb35746595207eaf",
        "type": "ui_gauge",
        "z": "df64358f81423729",
        "name": "",
        "group": "2efee8dbfe7cef46",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#e7e00d",
            "#1b00e6",
            "#c13acb"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "6c30280f197924d1",
        "type": "ui_chart",
        "z": "df64358f81423729",
        "name": "",
        "group": "2efee8dbfe7cef46",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "msg.label",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff0feb",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 260,
        "wires": [
            []
        ],
        "inputLabels": [
            "msg.label"
        ]
    },
    {
        "id": "361488d13a4c96d1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "4aa22676795a03a3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2efee8dbfe7cef46",
        "type": "ui_group",
        "name": "Fecha G8 Group 1",
        "tab": "34d44c3d4286ff31",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4aa22676795a03a3",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "34d44c3d4286ff31",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]